sentence-transformers
torch
numpy
pandas
flask
flask-cors
firebase-admin
SpeechRecognition
pydub
better_profanity
edge-tts
transformers
faster-whisper
noisereduce
scikit-learn
scipy
gunicorn
python-dotenv
asyncio
